In [43]:
import pandas as pd

standings = pd.read_csv("/Users/samsokolovky/Desktop/is477/base_data/standings.csv")
team_stats = pd.read_csv("/Users/samsokolovky/Desktop/is477/base_data/teamStats.csv")
leagues = pd.read_csv("/Users/samsokolovky/Desktop/is477/base_data/leagues.csv")
teams = pd.read_csv("/Users/samsokolovky/Desktop/is477/base_data/teams.csv")

In [39]:
unique_names = leagues["leagueName"].unique()
epl = leagues[leagues["leagueName"] == "English Premier League"]
epl

,seasonType,year,seasonName,seasonSlug,leagueId,midsizeName,leagueName,leagueShortName
222,12654,2024,2024-25 English Premier League,2024-25-english-premier-league,700,ENG.1,English Premier League,Premier League
837,13481,2025,2025-26 English Premier League,2025-26-english-premier-league,700,ENG.1,English Premier League,Premier League

In [40]:
prem = standings[(standings["leagueId"] == 700) & (standings["year"] == 2024)]
prem

,seasonType,year,leagueId,last_matchDateTime,teamRank,teamId,gamesPlayed,wins,ties,losses,...,gf,ga,gd,deductions,clean_sheet,form,next_opponent,next_homeAway,next_matchDateTime,timeStamp
1516,12654,2024,700,2025-05-25 15:00:00,1,364,38,25,9,4,...,86.0,41.0,45,0,14.0,WLDLD,NaN,NaN,NaN,2025-05-26 04:28:39
1517,12654,2024,700,2025-05-25 15:00:00,2,359,38,20,14,4,...,69.0,34.0,35,0,13.0,DLDWW,NaN,NaN,NaN,2025-05-26 04:28:39
1518,12654,2024,700,2025-05-25 15:00:00,3,382,38,21,8,9,...,72.0,44.0,28,0,13.0,WWDWW,NaN,NaN,NaN,2025-05-26 04:28:39
1519,12654,2024,700,2025-05-25 15:00:00,4,363,38,20,9,9,...,64.0,43.0,21,0,11.0,WWLWW,NaN,NaN,NaN,2025-05-26 04:28:39
1520,12654,2024,700,2025-05-25 15:00:00,5,361,38,20,6,12,...,68.0,47.0,21,0,13.0,WDWLL,NaN,NaN,NaN,2025-05-26 04:28:39
1521,12654,2024,700,2025-05-25 15:00:00,6,362,38,19,9,10,...,58.0,51.0,7,0,9.0,LWWWL,NaN,NaN,NaN,2025-05-26 04:28:39
1522,12654,2024,700,2025-05-25 15:00:00,7,393,38,19,8,11,...,58.0,46.0,12,0,13.0,LDDWL,NaN,NaN,NaN,2025-05-26 04:28:39
1523,12654,2024,700,2025-05-25 15:00:00,8,331,38,16,13,9,...,66.0,59.0,7,0,8.0,WDWWW,NaN,NaN,NaN,2025-05-26 04:28:39
1524,12654,2024,700,2025-05-25 15:00:00,9,349,38,15,11,12,...,58.0,46.0,12,0,9.0,DWLLW,NaN,NaN,NaN,2025-05-26 04:28:39
1525,12654,2024,700,2025-05-25 15:00:00,10,337,38,16,8,14,...,66.0,57.0,9,0,8.0,WWWLD,NaN,NaN,NaN,2025-05-26 04:28:39
1526,12654,2024,700,2025-05-25 15:00:00,11,370,38,15,9,14,...,54.0,54.0,0,0,5.0,WLLWL,NaN,NaN,NaN,2025-05-26 04:28:39
1527,12654,2024,700,2025-05-25 15:00:00,12,384,38,13,14,11,...,51.0,51.0,0,0,11.0,DDWWD,NaN,NaN,NaN,2025-05-26 04:28:39
1528,12654,2024,700,2025-05-25 15:00:00,13,368,38,11,15,12,...,42.0,44.0,-2,0,12.0,LDWWW,NaN,NaN,NaN,2025-05-26 04:28:39
1529,12654,2024,700,2025-05-25 15:00:00,14,371,38,11,10,17,...,46.0,62.0,-16,0,7.0,LDWLW,NaN,NaN,NaN,2025-05-26 04:28:39
1530,12654,2024,700,2025-05-25 15:00:00,15,360,38,11,9,18,...,44.0,54.0,-10,0,10.0,DLLLW,NaN,NaN,NaN,2025-05-26 04:28:39
1531,12654,2024,700,2025-05-25 15:00:00,16,380,38,12,6,20,...,54.0,69.0,-15,0,8.0,WLLLD,NaN,NaN,NaN,2025-05-26 04:28:39
1532,12654,2024,700,2025-05-25 15:00:00,17,367,38,11,5,22,...,64.0,65.0,-1,0,6.0,LDLLL,NaN,NaN,NaN,2025-05-26 04:28:39
1533,12654,2024,700,2025-05-25 15:00:00,18,375,38,6,7,25,...,33.0,80.0,-47,0,3.0,LWDWL,NaN,NaN,NaN,2025-05-26 04:28:39
1534,12654,2024,700,2025-05-25 15:00:00,19,373,38,4,10,24,...,36.0,82.0,-46,0,2.0,LDLLL,NaN,NaN,NaN,2025-05-26 04:28:39
1535,12654,2024,700,2025-05-25 15:00:00,20,376,38,2,6,30,...,26.0,86.0,-60,0,3.0,LLDLL,NaN,NaN,NaN,2025-05-26 04:28:39

In [53]:
team_stats_epl = team_stats[team_stats["teamId"].isin([364, 359, 382, 363, 361, 362, 393, 331, 349, 337, 370, 384, 368,
       371, 360, 380, 367, 375, 373, 376])]
team_stats_epl.head()

,seasonType,eventId,teamId,teamOrder,possessionPct,foulsCommitted,yellowCards,redCards,offsides,wonCorners,...,accurateLongBalls,longballPct,blockedShots,effectiveTackles,totalTackles,tacklePct,interceptions,effectiveClearance,totalClearance,updateTime
16562,12282,700485,360,1,45.5,4.0,0.0,0.0,1.0,1.0,...,11.0,0.3,2.0,13.0,23.0,0.6,11.0,30.0,30.0,2024-07-16 05:09:38
16563,12282,700486,363,0,74.8,13.0,1.0,0.0,1.0,5.0,...,29.0,0.7,3.0,12.0,19.0,0.6,7.0,3.0,3.0,2024-07-25 10:42:24
16565,12282,700487,359,0,58.0,10.0,0.0,0.0,5.0,3.0,...,24.0,0.5,2.0,9.0,13.0,0.7,11.0,16.0,16.0,2024-07-28 10:42:39
16566,12282,700487,360,1,42.0,11.0,0.0,0.0,0.0,6.0,...,16.0,0.4,5.0,11.0,13.0,0.8,11.0,14.0,14.0,2024-07-28 10:42:39
16567,12282,700488,364,0,39.9,14.0,1.0,0.0,3.0,1.0,...,15.0,0.3,4.0,8.0,16.0,0.5,6.0,21.0,21.0,2024-08-02 08:14:24

In [ ]:
prem_teams = teams[teams["teamId"].isin([364, 359, 382, 363, 361, 362, 393, 331, 349, 337, 370, 384, 368,
       371, 360, 380, 367, 375, 373, 376])]
prem_teams

,teamId,location,name,abbreviation,displayName,shortDisplayName,color,alternateColor,logoURL,venueId,slug
211,331,Brighton & Hove Albion,Brighton & Hove Albion,BHA,Brighton & Hove Albion,Brighton,0606fa,ffdd00,https://a.espncdn.com/i/teamlogos/soccer/500/3...,4440,eng.brighton
217,337,Brentford,Brentford,BRE,Brentford,Brentford,f42727,f8ced9,https://a.espncdn.com/i/teamlogos/soccer/500/3...,8480,eng.brentford
229,349,AFC Bournemouth,AFC Bournemouth,BOU,AFC Bournemouth,Bournemouth,f42727,ffffff,https://a.espncdn.com/i/teamlogos/soccer/500/3...,6020,eng.bournemouth
236,359,Arsenal,Arsenal,ARS,Arsenal,Arsenal,e20520,132257,https://a.espncdn.com/i/teamlogos/soccer/500/3...,2267,eng.arsenal
237,360,Manchester United,Manchester United,MAN,Manchester United,Man United,da020e,144992,https://a.espncdn.com/i/teamlogos/soccer/500/3...,250,eng.man_utd
238,361,Newcastle United,Newcastle United,NEW,Newcastle United,Newcastle,000000,cd1937,https://a.espncdn.com/i/teamlogos/soccer/500/3...,4684,eng.newcastle
239,362,Aston Villa,Aston Villa,AVL,Aston Villa,Aston Villa,660e36,ffffff,https://a.espncdn.com/i/teamlogos/soccer/500/3...,307,eng.aston_villa
240,363,Chelsea,Chelsea,CHE,Chelsea,Chelsea,144992,ffeeee,https://a.espncdn.com/i/teamlogos/soccer/500/3...,249,eng.chelsea
241,364,Liverpool,Liverpool,LIV,Liverpool,Liverpool,d11317,132257,https://a.espncdn.com/i/teamlogos/soccer/500/3...,192,eng.liverpool
244,367,Tottenham Hotspur,Tottenham Hotspur,TOT,Tottenham Hotspur,Spurs,ffffff,9bafd8,https://a.espncdn.com/i/teamlogos/soccer/500/3...,7827,eng.tottenham
245,368,Everton,Everton,EVE,Everton,Everton,0606fa,132257,https://a.espncdn.com/i/teamlogos/soccer/500/3...,10318,eng.everton
247,370,Fulham,Fulham,FUL,Fulham,Fulham,ffffff,d11317,https://a.espncdn.com/i/teamlogos/soccer/500/3...,279,eng.fulham
248,371,West Ham United,West Ham United,WHU,West Ham United,West Ham,7c2c3b,000000,https://a.espncdn.com/i/teamlogos/soccer/500/3...,6660,eng.west_ham
250,373,Ipswich Town,Ipswich Town,IPS,Ipswich Town,Ipswich,0000fa,cd1937,https://a.espncdn.com/i/teamlogos/soccer/500/3...,257,eng.ipswich
252,375,Leicester City,Leicester City,LEI,Leicester City,Leicester,0202fb,000000,https://a.espncdn.com/i/teamlogos/soccer/500/3...,5774,eng.leicester
253,376,Southampton,Southampton,SOU,Southampton,Southampton,ED1A3B,f1ee13,https://a.espncdn.com/i/teamlogos/soccer/500/3...,4850,eng.southampton
255,380,Wolverhampton Wanderers,Wolverhampton Wanderers,WOL,Wolverhampton Wanderers,Wolves,fdb913,cd1937,https://a.espncdn.com/i/teamlogos/soccer/500/3...,136,eng.wolverhampton
257,382,Manchester City,Manchester City,MNC,Manchester City,Man City,99c5ea,e6ff00,https://a.espncdn.com/i/teamlogos/soccer/500/3...,4036,eng.man_city
259,384,Crystal Palace,Crystal Palace,CRY,Crystal Palace,C Palace,0202fb,ffdd00,https://a.espncdn.com/i/teamlogos/soccer/500/3...,135,eng.crystal_palace
268,393,Nottingham Forest,Nottingham Forest,NFO,Nottingham Forest,Nottm Forest,c8102e,132257,https://a.espncdn.com/i/teamlogos/soccer/500/3...,131,eng.nottm_forest